
               body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffc8a0;
            color: #333;
        }

        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            background-color: #ffa352;
        }

        header .logo img {
            height: 70px;
        }

        .contact-icons a {
            margin-left: 15px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }

        .contact-icons a:hover {
            color: #ff7f50; /* Naranja coral para hover en los iconos de contacto */
        }

        
        .content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff; /* Fondo blanco para el contenido */
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .text h2 {
            color: #ffa352;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .text p {
            margin: 0;
            color: #555;
            line-height: 1.6;
        }

        .navigation ul {
            list-style: none;
            padding: 0;
            margin-top: 15px;
        }

        .navigation li {
            margin-top: 10px;
        }

        .navigation a {
            color: #ffa352;
            text-decoration: none;
            font-weight: bold;
        }

        .navigation a:hover {
            color: #ff7f50; /* Naranja coral para hover en los enlaces */
        }

        /* Imagen */
        .image {
            flex-shrink: 0;
        }

        .image img {
            max-width: 350px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: 3px solid #ffa352;
            position: relative;
            top: 80px;
        }
